body {
  margin: 0;
  font-family: Arial;
  background: #f5f7fb;
}

.container {
  padding: 120px 20px 100px 20px;
  max-width: 1200px;
  margin: 0 auto;
}


/* tabs */
.tabs {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.tabs button {
  background: #3b82f6;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 20px;
}

.activeTab {
  background: #0b1f3a !important;
  color: white !important;
}

/* SEARCH */
.searchBox {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.searchBox input {
  padding: 10px;
  border-radius: 20px;
  width: 250px;
}

/* GRID */
.gridItems {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 15px;
  padding-bottom: 100px;
}

/* CARD */
.card {
  background: white;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.card img {
  width: 100%;
  height: 200px;         /* Increased height to show more of the item */
  object-fit: contain;   /*shows the whole image without cropping */
  background: #f9f9f9;   /* Adds a light background to fill any empty space */
  border-radius: 8px;
  margin-bottom: 10px
}

/* basket */
.basketBtn {
  position: fixed;
  top: 10px;
  right: 10px;
}

.basketBtn button {
  background: #0b1f3a;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.basket {
  position: fixed;
  right: 10px;
  top: 60px;
  width: 280px;
  background: white;
  padding: 15px;
  border-radius: 10px;
}

/* bottom nav */
.bottomNav {
  position: fixed;
  bottom: 0;
  left: 0;           
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 40px;
  background: white;
  padding: 15px;
  border-top: 1px solid #ddd;
  z-index: 10000;     /* 🟢 Keeps it above all other content */
  box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
}

.bottomNav button {
  background: #3b82f6;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 25px;
}

.activeBottom {
  background: #0b1f3a !important;
  color: white !important;
}

.centerText {
  text-align: center;
}